<h1>Add New Customer</h2>

<%= form_with model: @customer do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email %><br>
    
  </div>
  <div>
    <%= form.label :phone %><br>
    <%= form.number_field :phone %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
