<section class='h-100 h-custom' style="background-color: #8fc4b7">
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
        <div class="card-body p-4 p-md-5">
          <%= form_with model: @appointment do |form| %>
            <% if @appointment.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

                <ul>
                  <% @appointment.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="field mb-3">
              <%= form.label :customer_id %>
              <%= form.collection_select :customer_id, Customer.all, :id, :name, :class=>"select form-control" %>
            </div>

            <div class="field mb-3">
              <%= form.label :employee_id %>
              <%= form.collection_select :employee_id, Employee.all.where(emptype:'barbar'), :id, :name %>
            </div>

            <div class="field mb-3">
              <%= form.label :date %>
              <%= form.datetime_local_field :date %>
            </div>

            <div class="actions">
              <%= form.submit %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
</section>