<h1>Appointments</h1>

<%= link_to 'New Appointment', new_appointment_path, :class=>"btn btn-info" %>

<table class='table table-striped'>
  <tr>
    <th>Customer</th>
    <th>Staff</th>
    <th>Appointment Time</th>
    <th>Actions</th>
  </tr>
  <% @appointments.each do |appointment| %>
    <tr>
      <td><%= appointment.customer.name %></td>
      <td><%= appointment.employee.name %></td>
      <td><%= appointment.date %></td>
      <td>
        <%= link_to 'Show', appointment , :class=>"btn btn-info" %>
        <%= link_to 'Edit', edit_appointment_path(appointment) , :class=>"btn btn-primary" %>
        <%= link_to 'Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger" %>
      </td>
    </tr>
  <% end
  %>
</table>
